server {
  listen 80;
  server_name logs.notprod.pl;
  root /var/www/kibana/src;

  # Set image format types to expire in a very long time
  location ~* ^.+\.(jpg|jpeg|gif|png|ico)$ {
      access_log off;
      expires max;
  }

  # Set css and js to expire in a very long time
  location ~* ^.+\.(css|js)$ {
      access_log off;
      expires max;
  }

  location ~ ^/(_aliases|_nodes|.*/(_search|_mapping)|kibana-int/(dashboard/|temp).*)$ {
    proxy_pass         http://127.0.0.1:9200;
    proxy_read_timeout 90;
    expires -1;
  }

  # Catchall for everything else
  location / {
    index index.html index.htm;
  }
}
